/* HERO SECTION */
.hero-section {
    height: 200px;
    background: url("../public/hero_bg.png");
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
}

.hero-title {
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0 20px;
}

.hero-title span:first-child {
    font-size: 20px;
}

.heroTitle span:last-child {
    font-size: 50px;
    line-height: 30px;
}

.hero-span {
    color: white;
    font-weight: 700;
}

@media (min-width:680px) {

    .carousel-item img,
    #hero {
        height: 210px;
    }

    .hero-title span:first-child {
        font-size: 40px;
    }

    .hero-title span:last-child {
        font-size: 100px;
        line-height: 80px;
    }
}

@media (min-width:1080px) {
    .carousel-item img {
        object-fit: contain;
    }
}