.product-images-block {
    width: 340px;
    padding: 10px;
    margin: 10px
}

/* IMAGES */
.product-images-block {
    display: flex;
}

.product-images {
    width: 44px;
    margin: 3px;
}

.mini-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.big-img {
    width: 280px;
    height: 280px;
    object-fit: cover;
}