/* MAIN */
main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* MAIN PRODUCTS */
.product-container {
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

