<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    

    <body>
       

        <!-- <header class="header">
            <section class="contenedorMain">
                <div >
                    <a class="navbar-brand" th:text="'Error ' + ${codigo}">Casa de Electricidad</a>
                    <p th:text="${mensaje}"></p>
                </div>
                <section class="text-center container">
			        <div class="row mt-3">
                        <div class="divVolver">
                            <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                        </div>
			        </div>
		        </section>
                <div class="container contenedorLibros">
                    <p class="tituloLibros" th:if="${session.usuariosession != null}" th:text=" 'Hola de vuelta '+ ${session.usuariosession.nombre} "></p>
                </div>
                <div class="bg-circle-1 bg-circle"></div>
                <div class="bg-circle-2 bg-circle"></div>
                <div class="bg-circle-3 bg-circle"></div>
                <div class="bg-circle-4 bg-circle"></div>
            </section>
        </header> -->

    </body>

</html>
