<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <body>

        <header class="header">
            <section class="container">
                <div >
                    <a class="dashboard-title" th:text="'Error ' + ${codigo}">Casa de Electricidad</a>
                    <p th:text="${mensaje}"></p>
                </div>
                <section class="container">
                    <a th:href="@{/}" class="btn btn-secondary">Volver</a>
		        </section>
                <div class="container ">
                    <!--<p class="tituloLibros" th:if="${session.usuariosession != null}" th:text=" 'Hola de vuelta '+ ${session.usuariosession.nombre} "></p>-->
                </div>
            </section>
        </header>

    </body>

</html>
